<div class="home-page">

    <header class="home-header">
        <app-navbar></app-navbar>
    </header>


    <section class="right-section-smal-screen2">

    </section>

    <section class="right-section-smal-screen">

    </section>


    <main class="main-content">

        <section class="right-section">

        </section>

        <section class="left-section">

            <div class="r-top-content">

            </div>

            <div class="r-middle-content">

            </div>

            <div class="r-bottom-content">

            </div>
        </section>

    </main>
</div>



<!-- Header -->
<!-- Nav -->
<!-- Section --> <!-- Aside -->
<!-- Article --> <!-- Aside -->
<!-- Fotter -->