.nav-btn {
  background-color: #dee3e7bf;
  border: none;
  color: rgb(0, 0, 0);
  padding: 13px;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  transition: background-color 1s;
  margin: 0px 8px;

  &:hover {
    background-color: #8993a0;
  }

  &.active {
    background-color: #0e0e0e;
    color: #ececec;
  }
}

.icon {
  font-size: 1.2rem;
  margin: 0px 5px 0px 5px;
  align-self: center;
}

.nav-btn p {
  margin: 0px 5px 0px 5px;
  align-self: center;
}
